body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}
img {
  max-width: 100px;
}
#content {
  width: 30%;
}

#err404 {
  max-width: 900px;
}

.navbar {
  width: 100%;
}


.btnDiv {
  float: right;
}

.btn {
  margin: 2px;
}