body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  max-width: 100px;
}
#content {
  width: 50%;
}

#err404 {
  max-width: 900px;
}

#nav {
  width: 100%;
}