{% extends "base.html" %} {% block title %} Edit Post {% endblock %} {% block
content %}
<h1>Edit Post</h1>
<form action="/posts/{{ post.id }}/edit" method="POST">
  <label for="title">Title</label>
  <input
    class="form-control"
    type="text"
    name="title"
    value="{{ post.title }}"
  />
  <label for="content">Post Content</label>
  <textarea name="content" class="form-control">{{post.content }}</textarea>
  <br />

  <a href="/users/{{ user.id }}" class="btn btn-info">Cancel</a>
  <button class="btn btn-success">Edit</button>
</form>
{% endblock %}
