{% extends "base.html" %} {% block title %} New Post {% endblock %} {% block
content %}
<h1>Add Post for {{ user.full_name }}</h1>
<form action="/users/{{ user.id }}/posts/new" method="POST">
  <label for="title">Title</label>
  <input
    class="form-control"
    type="text"
    name="title"
    placeholder="Title goes here."
  />
  <label for="content">Post Content</label>
  <textarea
    name="content"
    class="form-control"
    placeholder="Content goes here."
  ></textarea>
  <br />
  {% if tags %}
  <h4>Add some tags to this post</h4>
  {% for tag in tags %}
  <input type="checkbox" name="id" value="{{ tag.id }}" />
  <label for="id">{{ tag.name }}</label><br />
  {% endfor %} {% endif %}
  <br />
  <a href="/users/{{ user.id }}" class="btn btn-info">Cancel</a>
  <button class="btn btn-success">Add</button>
</form>
{% endblock %}
