{% extends "base.html" %} {% block title %} User Details {% endblock %} {% block
content %}
<div class="row">
  <div class="col-xl-2">
    <img src="{{user.image_url}}" alt="user pic" />
  </div>
  <div class="col-xl-10">
    <h1>{{ user.full_name }}</h1>

    <a href="/users/{{ user.id }}/edit" id="editBtn" class="btn btn-primary"
      >Edit</a
    >
    <a href="/users/{{ user.id }}/delete" id="delBtn" class="btn btn-danger"
      >Delete</a
    >
    <br />
    <br />
    <h2>Posts</h2>
    {% if posts %}
    <ul>
      {% for post in posts %}
      <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
      {% endfor %} {% else %}
      <h3>This user has no posts!</h3>
    </ul>
    {% endif %}
    <br />
    <a href="/users/{{ user.id }}/posts/new" class="btn btn-primary"
      >Add Post</a
    >
  </div>
</div>
{% endblock %}
